MONGODB_URI="mongodb://127.0.0.1:27017/bharatgas-manager"
JWT_SECRET="replace-with-a-long-random-secret"
JWT_EXPIRES_IN="7d"
PORT="3000"
BPCL_VERIFY_USER_URL="https://api.cep.bpcl.in/bpclservices/v2/bpcl/user/verifyUser"
BPCL_OTP_URL="https://api.cep.bpcl.in/bpclservices/v2/bpcl/user/otp/send"
BPCL_VALIDATE_OTP_URL="https://api.cep.bpcl.in/bpclservices/v2/bpcl/login/loginByOtp"
